.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.modal {
    min-height: 100vh;
    min-width: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #000000ba;

    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    color: red;
    font-size: 2rem;
    z-index: 100;
    border: none;
    background: transparent;
    cursor: pointer;
}


.search, .category {
    background-color: transparent;
    border: 1px solid rgb(230 130 15);
    color: rgb(230 130 15);
    border-radius: 25px;
    font-size: 1.25rem;
    outline: none;
    padding: 0.25rem 0.75rem;
    transition: all 0.5s;
    
    &:hover {
        box-shadow: 0 0 5px 0px rgb(230 130 15), 0 0 5px 2.5px #ffc600, 0px 0px 5px 0px rgb(230 130 15);
    }

    &:focus {
        box-shadow: 0 0 5px 0px yellow, 0 0 5px 2.5px #ffc600, 0px 0px 5px 0px yellow;
    }
}

.divider {
    border-color: rgb(230 130 15);
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding: 0.25rem;
    grid-auto-rows: 10rem;
    list-style: none;
}

.cell {
    cursor: pointer;
    text-align: center;
    position: relative;

    & h3 {
        font-size: 0.875rem;
        text-transform: capitalize;
        margin-top: 0.25rem;
    }

    & img {
        height: 8rem;
        width: 8rem;
    }
}

.common {
    color: rgb(230 130 15);
    
    & > div {
        border: 1px solid rgb(230 130 15);
    }
}

.rare {
    color: #01BFFF;
    
    & > div {
        border: 1px solid #01BFFF;
    }
}

.epic {
    color: #D1017B;
    
    & > div {
        border: 1px solid #D1017B;
    }
}

.legendary {
    color: #FF5901;
    
    & > div {
        border: 1px solid #FF5901;
    }
}

.info {
    font-size: 0.75rem;
    width: 15rem;
    background: linear-gradient(to bottom,#1B1A1999,#1B1A1999,#1B1A1999,#40295199);

    position: absolute;
    z-index: 1000;
    left: 50%;

    transform: translateX(-50%);

    padding: 1rem;

    & p {
        margin-bottom: 1rem;
    }

    & .attr {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    & svg {
        font-size: 1rem;
    }

    & button {
        color: inherit;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 1rem;

        & svg {
            font-size: 1.5rem;
        }

        &:hover {
            color: white;
        }
    }
}

